@use "../utils/placeholders";
@use "../utils/variables" as var;
@use "../utils/functions" as fn;
@use "../utils/mixins" as mx;

.time {
  @extend %section-frame;

  grid-area: time;

  min-width: 340px;
  background-image: url("../../img/report/time.jpg");
  background-size: cover;
  background-position: center;
}
