@use "../utils-report/placeholders-report";
@use "../utils-report/variables-report" as var;
@use "../utils-report/functions-report" as fn;
@use "../utils-report/mixins-report" as mx;

.main {
  display: grid;
  gap: 40px;
  padding: 16px;
  grid-template-areas:
    "goal"
    "budget"
    "swot"
    "time";

  @include mx.mq("md") {
    gap: 36px;
    padding: 36px;

    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "welcome welcome"
      "goal budget"
      "swot time";
  }

  @include mx.mq("lg") {
    // Position in page layout
    grid-area: main;

    // Inside grid system
    grid-template-columns: repeat(auto-fit, minmax(455px, 629px));
    grid-template-areas:
      "welcome welcome"
      "goal budget"
      "swot time";
  }
}
