@use "../utils/placeholders-report";
@use "../utils/variables-report" as var;
@use "../utils/functions-report" as fn;
@use "../utils/mixins-report" as mx;

.logo {
  @extend %main-title;

  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 20px;
  color: fn.get-color("accent-primary");

  @include mx.mq("lg") {
    padding: 16px 20px;
  }
}
